.module .login{
    height: 100%;
}

.login .row{
    margin-top: 20px;
}

.login #login{
    width: 100%;
    background: #353030;
    color: white;
}

.login #register{
    color: blue;
    text-decoration: underline;
}

.login #register:hover{
    cursor: pointer;
}

.login .registerRow{
    text-align: right;
    font-size: 14px;
}

.login .name{
    cursor: default;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 10px;
}