.module .login{
    height: 100%;
}

.login .row{
    margin-top: 20px;
}

.login #loginButton{
    width: 100%;
    background: #353030;
    color: white;
}

.login #registerButton{
    color: blue;
    text-decoration: underline;
}

.login #registerButton:hover{
    cursor: pointer;
}

.login .registerRow{
    text-align: right;
    font-size: 14px;
}

.login .name{
    cursor: url(/images/m1.cur),default !important;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.login .name div{
    cursor: url(/images/m1.cur),default !important;
    text-align: left;
    font-size: 20px;
    margin-top: 29px;
}

