<div class="login">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-4 name">应用平台</div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" class="form-control button" placeholder="用户名/邮箱" v-model="userName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" class="form-control button" placeholder="请输入密码" v-model="password">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-4">
            <button type="button" class="btn btn-default button" id="loginButton" v-on:click="login">登录</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-4 registerRow">
            <span>新用户?点击<span id="registerButton" class="button" v-on:click="register">这里</span>注册</span>
        </div>
    </div>
</div>