body .dialog{
    border: 0px solid black;
    position: fixed;
    z-index: 1;
    border-radius: 4px;
    color: #fff;
}

body{
    background: lightseagreen;
}

.dialog.current{
    border: 0px solid #fff;
    z-index: 2;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.dialog .title{
    height:30px;
    width: 100%;
    border: 0px solid #000;
    background: #353030;
    border-radius: 4px 4px 0px 0px;
    float:left;
}

.dialog .content{
    height:100%;
    width:100%;
    background: #1f9c6e;
    border-radius: 0px 0px 4px 4px;
}

.dialog .dialogCtrl{
    display: inline-block;
    height: 100%;
    width: 50px;
    border: 0px solid black;
    float: right;
}

.title span{
    display: inline-block;
    float: left;
    width: 40px;
    height: 100%;
    text-align: center;
    margin: 0;
    top: 0px;
    padding-top: 9px;
}

.title span:hover{
    background: #656161;
}

.title .glyphicon-remove:hover{
    background: #de2a2a;
}

.title .glyphicon-remove{
    border-radius: 4px 0px 0px 0px;
}

.title.phone{
    height: 8% !important;
}

span.phone{
    font-size: 5em;
    top: 0px;
    width: 13%;
    padding-top: 4%;
}