html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1em;
}

div{
    margin: 0;
    padding: 0;
}

#loadingDiv{
    height: 100%;
    width: 100%;
    background: #333333;
    position: relative;
    z-index: 10;
}

#loadingImg{
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}

.tipy{
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 5px;
    background: #353030;
    color: white;
    border-radius: 2px;
    height: 25px;
    line-height: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.tipyFoot{
    position: absolute;
    z-index: 11;
    top: 33px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid #353030;
}

.rain{
    position: fixed;
    z-index: 100;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-style: solid;
}