@import url('/libs/font-awesome/css/font-awesome.min.css');
@import url('/libs/bootstrap/css/bootstrap.min.css');


html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1em;
    background: #fff;
}

div{
    margin: 0;
    padding: 0;
}



