@import url('/libs/font-awesome/css/font-awesome.min.css');
@import url('/libs/bootstrap/css/bootstrap.min.css');


html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1em;
    background: #fff;
    cursor:url(/images/m1.cur),default !important; 
}

div{
    margin: 0;
    padding: 0;
}

.form-control:focus{
    border-color: #219ec5;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(33, 158, 197);
}

html input,select{
    outline: 0;
}

ul, ol, li{
    padding: 0;
    margin: 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 7px;  
    /*background-color: #F5F5F5;  */
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
        /* -webkit-box-shadow: inset 0 0 6px #fff; */
    border-radius: 10px;
    background-color: #219ec5; 
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #1cb6e6;
}  
