.module .register{
    height: 100%;
}

.register .row{
    margin-top: 40px;
}

.register .registerBt{
    width: 100%;
    background: #219ec5;
    color: #ffffff;
    border: none;
}

.register .name{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.register .name div{
    text-align: left;
    font-size: 20px;
    margin-top: 29px;
}

.backToLogin{
    display: inline-block;
    height: 30px;
    width: 50px;
    margin-left: 10px;
    line-height: 30px;
    color: #219ec5;
    background: #fff;
}

.backToLogin:hover{
    cursor: pointer;
    color: #219ec5;
}

.register .fa-user,.register .fa-lock{
    color: #219ec5;
}
