.module .register{
    height: 100%;
}

.register .row{
    margin-top: 20px;
}

.register #registerButton{
    width: 100%;
    background: #353030;
    color: white;
}

.register .name{
    cursor: default;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.register .name div{
    cursor: default;
    text-align: left;
    font-size: 20px;
    margin-top: 29px;
}




