<div class="register">
    <label class="backToLogin button"><i class="fa fa-chevron-left" aria-hidden="true"></i>返回</label>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-4 name">应用平台</div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" class="form-control button" placeholder="请输入用户名" v-model="userName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" class="form-control button" placeholder="请输入密码" v-model="password">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-4">
            <button type="button" class="btn btn-default button registerBt" v-on:click="register">注册</button>
            
        </div>
    </div>
</div>