.module .document{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.document ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: none;
}

.commentContent:focus{
    border-color: #219ec5;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(33, 158, 197);
}

.docNavbar{
    height: 100%;
    width: 20%;
    float:left;
    padding-top: 50px;
    background: #85cee4;
}

.docNavbar li{
    height: 30px;
    font-size: 1em;
    width: 100%;
    margin: 0px auto;
    /* border-radius: 3px; */
    list-style-type: none;
    padding-left: 10%;
    line-height: 30px;
}

.docNavbar li:hover{
    background: #219ec5;
    color: #fff;
}

.docNavbar .selected{
    background: #219ec5;
    color: #fff;
}

.navbarTitle{
    font-weight: bold;
    padding-left: 30px;
}

.docContent{
    width: 85%;
    float: right;
}

.docContent .oneTitle{
    font-size: 1.4em;
    margin-top: 40px;
    font-weight: bold;
}

.docContent h4{
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
}

.docContent .code{
    padding: 20px;
    background: #e6e2e2;
    border-radius: 3px;
    width: 80%;
    height: 300px !important; 
}

.docContent textarea{
    resize: none;
}

.docContent table{
    width: 80%;
}

.docContent hr{
    border-top: 1px solid #000;
}

.docContent img{
    width: 80%;
    margin-top: 10px;
}

.docContent p{
    width: 80%;
}

.docFoot{
    width: 85%;
    float: right;
}

.docFoot .commentFace{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 12px;
    float: left;
}

.commentContent{
    border: 1px solid #219ec5;
    height: 100px;
    width: 80%;
    border-radius: 3px;
    margin-top: 30px;
    display: block;
    padding-left: 10px;
    overflow-y: auto;
    resize: none;
}

.toComment{
    padding-top: 10px;
    margin-top: 40px;
}

.toComment button{
    margin-top: 10px;
    margin-bottom: 50px;
    color: #fff;
    background-color: #219ec5;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 0.8em;
    height: 30px;
}

.toComment button:hover{
    background-color: #85cee4;
    color: #fff;
}

.oneComment{
    width: 80%;
    margin-bottom: 20px;
    min-height: 50px;
}

.oneComment p{
    margin-left: 60px;
    font-size: 0.8em;
    margin-top: 6px;
}

.commentDate{
    font-size: 0.6em;
    display: inline-block;
}

.oneComment i{
    color: #bdbaba;
    font-size: 0.7em;
}

.commentName{
    color: #219ec5;
    display: inline-block;
    margin-top: 3px;
}

.likeNumber{
    display: inline-block;
    margin-left: 10px;
    color: #219ec5;
}

.likeNumber:hover{
    color: red;
}

.docRight{
    height: 100%;
    width: 80%;
    float: right;
    overflow-y: auto;
}
