<div class="document">
    <div class="docNavbar">
        <h3 class="navbarTitle">文档</h3>
        <ul>
            <li v-for="doc in docs" v-bind:class="{'selected': doc.current}" v-on:click="changeDoc" class="button">{{ doc.name }}</li>
        </ul>
    </div>
    <div class="docRight">
    <div class="docContent">
        
    </div>
    <div class="docFoot">
        <div class="toComment">
            <div>
                <span>阅读({{ currentDoc.read }})</span>
                <span class="commentCount">评论({{ commentCount }})</span>
                <span class="likeNumber button" v-on:click="addLike"><i class="fa fa-heart button" aria-hidden="true"></i>({{ currentDoc.like.length }})</span>
            </div>
            <textarea class="commentContent button"></textarea>
            <button type="button" class="button" v-on:click="addComment">提交评论</button>
        </div>
        <div class="comments">
            <template v-for="comment in currentDoc.comments">
                <div class="oneComment button">
                    <img v-bind:src="comment.face" class="commentFace">
                    <span class="commentName">{{ comment.name }}</span>
                    <span class="commentDate">  {{ comment.time }}</span>
                    <p>{{ comment.comment }}</p>
                </div>
            </template>
        </div>
    </div>
    </div>
</div>
