.module .chatHome{
    height: 100%;
}

.chatHome .intro{
    display: block;
    width: 98%;
    margin: 0 auto;
    height: 4%;
}

.chatHome .search{
    display: block;
    width: 98%;
    margin: 0 auto;
    height: 4%;
    border-radius: 3px;
    border: 1px solid #353030;
    padding-left: 10px;
    height: 25px;
}

.chatHome .head{
    height: 13%;
    margin-top: 5px;
    width: 98%;
    margin: 5px auto;
}

.chatHome .face{
    display: block;
    width: 20%;
    height: 100%;
    float: left;
    border-radius: 50%;
}

.chatHome .name{
    display: block;
    margin-left: 15px;
    width: 70%;
    float: left;
    font-size: 1em;
    height: 33%;
    font-weight: bold;
}

.chatHome .status{
    width: 16%;
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
    height: 33%;
    position: relative;
    border: 1px solid #fff;
}

.chatHome .statusValue:hover{
    border: 1px solid #353030;
}

.status li{
    list-style-type: none;
    height: 20px;
    padding-left: 5px;
    width: 98%;
    margin: 1px auto;
    border-radius: 3px;
}

.status li:hover{
    background: #353030;
    color: white;
}

.status ul{
    position: absolute;
    background: #fff;
    height: 66px;
    z-index: 10;
    border: 1px solid #353030;
    width: 150px;
    padding: 0;
    display: none;
    top: 26px;
    left: 0px;
    border-radius: 3px;
}

.statusValue div{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-top: 7px solid #353030;
    border-right: 7px solid transparent;
    z-index: 20;
    position: absolute;
    left: 34px;
    top: 5px;
}

.statusValue img{
    width: 20px;
    height: 20px;
    margin: 2.5px;
    border-radius: 10px;
}

.statusValue{
    width: 25px;
    border-radius: 3px;
    border: 1px solid #fff;
    height: 25px;
}

.statusSelect img{
    height: 15px;
    width: 15px;
    border-radius: 10px;
}

.statusSelect span{
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.chatHome .email{
    width: 70%;
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
    height: 33%;
    margin-top: 9px;
}

.email input{
    border: 1px solid #fff;
    padding-left: 2px;
}

.email input:focus{
    border: 1px solid #353030;
    border-radius: 3px;
}

.items i{
    display: block;
    width: 10%;
    font-size: 2em;
    text-align: center;
    margin-left: 5px;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.items i:hover{
    color: #2d92d6;
}

.items .selected{
    color: #2d92d6;
}

.chatHome .fa-search{
    position: absolute;
    top: 4px;
    right: 14px;
}

.chatHome .searchDiv{
    position: relative;
    clear: both;
    margin-bottom: 10px;
}

.chatHome .introFoot{
    position: absolute;
    top: 18px;
    left: 17%;
    width: 15px;
    height: 15px;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    transform: rotate(45deg);
    background: #eaeaea;
    border-radius: 10px 0px 0px 0px;
}

.chatHome .intro{
    background: #eaeaea;
    color: #353030;
    font-size: 0.8em;
    padding: 5px 10px 5px 10px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    border-radius: 3px;
}

.chatHome .intro:focus{
    background: #fff;
    color: #353030;
    border: 1px solid #353030;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.chatHome .introDiv{
    position: relative;
    margin-top: 5px;
}

.groups{
    height: 56%;
    border-radius: 3px;
    width: 98%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.groups .group{
    border: 1px solid #eaeaea;
    border-radius: 3px;
    padding-left: 19px;
    height: 25px;
    margin-top: 1px;
    position: relative;
    font-size: 0.8em;
    line-height: 25px;
    background: #eaeaea;
}

.group .groupFoot{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid #353030;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 4px;
    left: 5px;
}

.groups .user{
    height: 30px;
    margin-top: 1px;
    border-radius: 3px;
    padding-left: 20px;
    line-height: 30px;
    font-size: 1em;
}

.groups .user:hover{
    background: #353030;
    color: #fff;
}

.user img{
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.user i{
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 6px;
    position: relative;
}

.rotateFoot{
    transform: rotate(90deg);
}

.changeBg{
    background: #b7b5b5 !important;
}

.searchContainer{
    border: 1px solid #353030;
    width: 98%;
    height: 290px;
    position: absolute;
    z-index: 10020;
    left: 3px;
    border-radius: 3px;
    background: #fff;
    top: 28px;
}