.module .chatHome {
    height: 100%;
}

#chatHome {
    background: #219ec5;
}

.title span:hover {
    background: #85cee4;
}

.title .glyphicon-remove:hover {
    background: #de2a2a;
}

.chatHome .intro {
    display: block;
    width: 98%;
    margin: 0 auto;
    height: 30px;
}

.chatHome .search {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 4%;
    /* border-radius: 3px; */
    border: 1px solid #219ec5;
    padding-left: 10px;
    height: 30px;
    font-size: 0.8em;
}

.chatHome .head {
    height: 89px;
    margin-top: 5px;
    width: 98%;
    margin: 5px auto;
}

.chatHome .face {
    display: block;
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 50%;
    margin-left: 3px;
}

.chatHome .face:hover {
    box-shadow: 0px 0px 15px #fff;
}

.chatHome .name {
    display: block;
    margin-left: 15px;
    width: 50%;
    float: left;
    font-size: 1em;
    height: 33%;
    font-weight: bold;
}

.chatHome .status {
    width: 50%;
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
    height: 33%;
    position: relative;
    border: 1px solid #219ec5;
}

.chatHome .statusValue:hover {
    background: #219ec5;
}

.status li {
    list-style-type: none;
    height: 20px;
    padding-left: 5px;
    width: 98%;
    margin: 1px auto;
    border-radius: 3px;
    /* background: #eaeaea; */
}

.status li:hover {
    background: #219ec5;
    color: white;
}

.status ul {
    /*padding: 5px;*/
    position: absolute;
    background: #fff;
    /* height: 63px; */
    z-index: 10;
    /* border: 1px solid #353030; */
    width: 150px;
    /*padding: 5px;*/
    display: none;
    top: 28px;
    left: 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #000;
}

.statusValue div {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-top: 7px solid #353030;
    border-right: 7px solid transparent;
    z-index: 20;
    position: absolute;
    left: 34px;
    top: 5px;
}

.statusValue img {
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 10px;
}

.statusValue img:hover {
    box-shadow: 0px 0px 10px #fff;
}

.statusSelect .fa-check {
    color: transparent;
}

.statusSelect .checked {
    color: #000 !important;
}

.statusValue {
    width: 27px;
    border-radius: 3px;
    border: 1px solid #219ec5;
    height: 27px;
}

.statusSelect img {
    height: 15px;
    width: 15px;
    border-radius: 10px;
}

.statusSelect span {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.chatHome .email {
    width: 50%;
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
    height: 33%;
    margin-top: 9px;
}

.email input {
    border: 1px solid #219ec5;
    padding-left: 2px;
    border-radius: 3px;
    background: #219ec5;
}

.email input:focus {
    border: 1px solid #219ec5;
    border-radius: 3px;
    background: #fff !important;
    color: #353030 !important;
}

.email input:hover {
    background: #219ec5;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.items {
    width: 100%;
    /* border: 1px solid; */
    height: 37px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.items i {
    display: block;
    width: 55px;
    height: 37px;
    font-size: 2em;
    text-align: center;
    margin-left: 5px;
    float: left;
    color: #fff;
}

.items i:hover {
    color: #1cb6e6;
}

.items .selected {
    color: #1cb6e6;
}

.chatHome .searchButton {
    position: absolute;
    top: 6px;
    right: 10px;
}

.chatHome .searchDiv {
    position: relative;
    clear: both;
    margin-bottom: 10px;
}

.chatHome .introFoot {
    position: absolute;
    top: 23px;
    left: 21%;
    width: 15px;
    height: 15px;
    border-right: 1px solid #85cee4;
    border-bottom: 1px solid #85cee4;
    transform: rotate(45deg);
    background: #85cee4;
    border-radius: 10px 0px 0px 0px;
}

.chatHome .intro {
    background: #85cee4;
    color: #353030;
    font-size: 0.8em;
    padding: 5px 10px 5px 10px;
    border: 1px solid #85cee4;
    box-shadow: none;
    border-radius: 3px;
}

.chatHome .intro:focus {
    background: #fff;
    color: #353030;
    border: 1px solid #219ec5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.chatHome .introDiv {
    position: relative;
    margin-top: 5px;
}

.groups {
    height: 364px;
    border-radius: 3px;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.groups .group {
    /*border: 1px solid #219ec5; */
    /* border-radius: 3px; */
    padding-left: 29px;
    height: 35px;
    margin-top: 1px;
    position: relative;
    font-size: 1em;
    line-height: 35px;
    background: #219ec5;
    font-weight: bold;
    color: #353535;
}

.group:hover {
    background: #85cee4;
}

.group .groupFoot {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid #353535;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 9px;
    left: 11px;
}

.groups .user {
    height: 50px;
    margin-top: 1px;
    border-radius: 0px;
    padding-left: 20px;
    position: relative;
    background: #219ec5;
    color: #353535;
}

.groups .user:hover {
    background: #85cee4;
    color: #353535;
}

.user .userFace {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
}

.user .userStatus {
    border-radius: 20px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 31px;
    left: 48px;
}

.user i {
    display: inline-block;
    position: relative;
    float: right;
    width: 51px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    border-radius: 0px;
}

.user i:hover {
    background: #ff7c7c;
    color: #fff;
}

.user .userName {
    display: inline-block;
    position: absolute;
    font-weight: bold;
    top: 7px;
    font-size: 0.9em;
}

.user .userIntro {
    display: inline-block;
    position: absolute;
    bottom: 7px;
    font-size: 0.5em;
}

.rotateFoot {
    transform: rotate(90deg);
}

.changeBg {
    /*background: #219ec5 !important;*/
}

.searchContainer {
    border: 0px solid #353030;
    width: 100%;
    height: 393px;
    position: absolute;
    z-index: 10020;
    /* left: 3px; */
    border-radius: 0px;
    background: #219ec5;
    top: 35px;
    overflow-y: auto;
}

.oneUser-transition {
    transition: all .3s ease;
    height: 50px;
    width: 100%; 
    margin: 0px;
    padding-left: 3px;
    /* border-radius: 3px; */
    position: relative;
    background: #219ec5;
}

.oneUser-enter,
.oneUser-leave {
    height: 0px;
    width: 98%;
    margin: 1px auto;
    border-radius: 3px;
    position: relative;
    background: #219ec5;
    opacity: 0;
}

.oneUser:hover {
    background: #85cee4;
    /*color: #fff;*/
}

.oneUser .oneUserFace {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 4px;
    margin-right: 11px;
}

.oneUser .oneUserStatus {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    top: 30px;
    left: 30px;
}

.oneUser .oneUserName {
    display: inline-block;
    position: absolute;
    font-weight: bold;
    top: 7px;
    font-size: 0.9em;
}

.oneUser .oneUserIntro {
    display: inline-block;
    position: absolute;
    bottom: 1px;
    font-size: 0.5em;
    bottom: 7px;
}

.oneUser .fa-plus {
    position: absolute;
    right: 0px;
    display: inline-block;
    width: 51px;
    height: 100%;
    /* padding: 2px; */
    text-align: center;
    line-height: 50px;
}

.oneUser .fa-plus:hover {
    background: #ff7c7c;
    color: #fff;
}

.addToGroup {
    width: 130px;
    height: auto;
    /* border: 1px solid red; */
    position: absolute;
    z-index: 50;
    right: 1px;
    top: 41px;
    display: none;
    background: #fff;
    color: #fff;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    /* padding: 5px 10px; */
    text-align: left;
}

.addToGroup span {
    display: block;
    border: 1px solid #fff;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 1px auto;
    margin-bottom: 1px;
    color: #353030;
    font-size: 0.8em;
    width: 98%;
}

.addToGroup span:hover {
    background: #219ec5;
    color: #fff;
}

.hideUser {
    display: none;
}

.faceStore {
    display: none;
    position: absolute;
    width: 219px;
    height: 172px;
    display: none;
    z-index: 73;
    left: 102px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #000;
}

.faceStore img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin-left: 9px;
    margin-top: 10px;
}

.faceStore img:hover {
    border: 2px solid #219ec5;
}

.tools {
    width: 100%;
    height: 27px;
    margin: 0 auto;
    border-radius: 3px;
    line-height: 27px;
}

.tools i {
    display: inline-block;
    width: 35px;
    height: 30px;
    margin: 0px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    color: #fff;
}

.tools i:hover {
    background: #85cee4;
}

.tools ul {
    position: absolute;
    display: none;
    width: 224px;
    height: 300px;
    bottom: 35px;
    left: 8px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #000;
}

.toolsUL li {
    margin: 1px auto;
    width: 98%;
    border-radius: 3px;
    height: 30px;
    padding-left: 11px;
    line-height: 30px;
}

.toolsUL li:hover {
    background: #219ec5;
    color: #fff;
}

.toolsUL hr {
    margin: 0;
    padding: 0;
    border-top: 1px solid #e2d3d3;
    width: 88%;
    margin: 5px auto;
}

.addToGroup .addTitle {
    font-size: 0.8em;
    font-weight: bold;
}

.addToGroup .addTitle:hover {
    background: #fff;
    color: #000;
}

.addToGroup hr {
    padding: 0;
    border-top: 1px solid #ded7d7;
    width: 87%;
    margin: 5px auto;
}

.statusSelect hr {
    padding: 0;
    border-top: 1px solid #ded7d7;
    width: 91%;
    margin: 5px auto;
}

.groupManager {
    position: absolute;
    width: 229px;
    height: 226px;
    z-index: 60;
    top: 84px;
    left: 26px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #000;
    display: none;
    overflow-y: auto;
}

.groupManager input {
    display: inline-block;
    width: 70%;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid #fff;
    padding-left: 10px;
    height: 25px;
    font-size: 0.8em;
    color: #219ec5;
}

.groupManager hr {
    margin: 0 auto;
    width: 92%;
}

.groupManager input:hover {
    cursor: pointer;
    border: 1px solid #219ec5;
}

.groupManager input:focus {
    border: 1px solid #219ec5;
}

.groupManager i {
    margin-left: 16px;
}

.groupManager button {
    height: 30px;
    line-height: 19px;
    outline: none;
    border: none;
    background: #219ec5;
    color: #fff;
    width: 91%;
    margin: 8px;
}

.groupManager button:hover {
    background: #85cee4;
    color: #fff;
}

.groupManager .addGroup {
    display: inline-block;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
}

.groupManager h4 {
    font-size: 15px;
    margin-left: 10px;
}

.fa-plus .hide {
    display: none;
}
