.module .chatHome{
    height: 100%;
}

.chatHome .intro, .search{
    display: block;
    width: 98%;
    margin: 0 auto;
    height: 4%;
}

.chatHome .head{
    cursor: default;
    height: 13%;
    margin-top: 5px;
    width: 98%;
    margin: 5px auto;
}

.chatHome img{
    display: block;
    width: 20%;
    height: 100%;
    float: left;
    border-radius: 50%;
}

.chatHome span{
    display: block;
    margin-left: 10px;
    width: 70%;
    float: left;
    font-size: 0.8em;
    height: 33%;
}

.chatHome .status{
    width: 70%;
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
    height: 33%;
}

.chatHome .location{
    width: 70%;
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
    height: 33%;
}

.items i{
    cursor: default;
    display: block;
    width: 10%;
    font-size: 2em;
    text-align: center;
    margin-left: 5px;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.items i:hover{
    color: #2d92d6;
}

.chatHome .fa-search{
    cursor: default;
    position: absolute;
    top: 3px;
    right: 10px;
}

.chatHome .searchDiv{
    position: relative;
    clear: both;
}

.chatHome .introFoot{
    position: absolute;
    top: 18px;
    left: 17%;
    width: 15px;
    height: 15px;
    border-right: 1px solid #b7b5b5;
    border-bottom: 1px solid #b7b5b5;
    transform: rotate(45deg);
    background: #b7b5b5;
}

.chatHome .intro{
    background: #b7b5b5;
    color: #353030;
    font-size: 0.8em;
    padding: 5px 10px 5px 10px;
    border: 1px solid #b7b5b5;
    box-shadow: none;
    border-radius: 3px;
}

.chatHome .intro:focus{
    background: #fff;
    color: #353030;
    border: 1px solid #b7b5b5;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.chatHome .introDiv{
    position: relative;
}