.module .chatHome{
    height: 100%;
}

.chatHome .intro{
    display: block;
    width: 98%;
    margin: 0 auto;
    height: 30px;
}

.chatHome .search{
    display: block;
    width: 98%;
    margin: 0 auto;
    height: 4%;
    border-radius: 3px;
    border: 1px solid #353030;
    padding-left: 10px;
    height: 25px;
    font-size: 0.8em;
}

.chatHome .head{
    height: 89px;
    margin-top: 5px;
    width: 98%;
    margin: 5px auto;
}

.chatHome .face{
    display: block;
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 50%;
    margin-left: 3px;
}

.chatHome .face:hover{
    box-shadow: 0px 0px 15px #219ec5;
}

.chatHome .name{
    display: block;
    margin-left: 15px;
    width: 70%;
    float: left;
    font-size: 1em;
    height: 33%;
    font-weight: bold;
}

.chatHome .status{
    width: 70%;
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
    height: 33%;
    position: relative;
    border: 1px solid #fff;
}

.chatHome .statusValue:hover{
    background: #219ec5;
}

.status li{
    list-style-type: none;
    height: 20px;
    padding-left: 5px;
    width: 100%;
    margin: 1px auto;
    border-radius: 3px;
    /* background: #eaeaea; */
}

.status li:hover{
    background: #353030;
    color: white;
}

.status ul{
    padding: 5px;
    position: absolute;
    background: #219ec5;
    /* height: 63px; */
    z-index: 10;
    /* border: 1px solid #353030; */
    width: 150px;
    padding: 5px;
    display: none;
    top: 28px;
    left: 0px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.statusValue div{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-top: 7px solid #353030;
    border-right: 7px solid transparent;
    z-index: 20;
    position: absolute;
    left: 34px;
    top: 5px;
}

.statusValue img{
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 10px;
}

.statusValue{
    width: 27px;
    border-radius: 3px;
    border: 1px solid #fff;
    height: 27px;
}

.statusSelect img{
    height: 15px;
    width: 15px;
    border-radius: 10px;
}

.statusSelect span{
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
}

.chatHome .email{
    width: 70%;
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
    height: 33%;
    margin-top: 9px;
}

.email input{
    border: 1px solid #fff;
    padding-left: 2px;
}

.email input:focus{
    border: 1px solid #353030;
    border-radius: 3px;
    background: #fff !important;
    color: #353030 !important;
}

.email input:hover{
    background: #2d92d6;
    color: #fff;
    border-radius: 3px;
}

.items{
        width: 100%;
    /* border: 1px solid; */
    height: 37px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.items i{
    display: block;
    width: 55px;
    height: 37px;
    font-size: 2em;
    text-align: center;
    margin-left: 5px;
    float: left;
}

.items i:hover{
    color: #2d92d6;
}

.items .selected{
    color: #2d92d6;
}

.chatHome .searchButton{
    position: absolute;
    top: 4px;
    right: 20px;
}

.chatHome .searchDiv{
    position: relative;
    clear: both;
    margin-bottom: 10px;
}

.chatHome .introFoot{
    position: absolute;
    top: 23px;
    left: 17%;
    width: 15px;
    height: 15px;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    transform: rotate(45deg);
    background: #eaeaea;
    border-radius: 10px 0px 0px 0px;
}

.chatHome .intro{
    background: #eaeaea;
    color: #353030;
    font-size: 0.8em;
    padding: 5px 10px 5px 10px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    border-radius: 3px;
}

.chatHome .intro:focus{
    background: #fff;
    color: #353030;
    border: 1px solid #353030;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.chatHome .introDiv{
    position: relative;
    margin-top: 5px;
}

.groups{
    height: 430px;
    border-radius: 3px;
    width: 98%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.groups .group{
    border: 1px solid #219ec5;
    border-radius: 3px;
    padding-left: 19px;
    height: 35px;
    margin-top: 1px;
    position: relative;
    font-size: 1em;
    line-height: 35px;
    background: #219ec5;
    font-weight: bold;
}

.group .groupFoot{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid #353030;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 9px;
    left: 5px;
}

.groups .user{
    height: 50px;
    margin-top: 1px;
    border-radius: 3px;
    padding-left: 20px;
    position: relative;
    background: #eaeaea;
}

.groups .user:hover{
    background: #85cee4;
    color: #fff;
}

.user .userFace{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
}

.user .userStatus{
    border-radius: 20px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 31px;
    left: 48px;
}

.user i{
    display: inline-block;
    position: relative;
    /* top: 17px; */
    /* right: 40px; */
    float: right;
    margin-right: 15px;
    margin-top: 14px;
    /* border: 1px solid red; */
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.user i:hover{
    background: #219ec5;
    border-radius: 3px;
}

.user .userName{
    display: inline-block;
    position: absolute;
    font-weight: bold;
    top: 2px;
}

.user .userIntro{
    display: inline-block;
    position: absolute;
    bottom: 4px;
    font-size: 0.5em;
}

.rotateFoot{
    transform: rotate(90deg);
}

.changeBg{
    background: #219ec5 !important;
}

.searchContainer{
    border: 0px solid #353030; 
    width: 100%;
    height: 430px;
    position: absolute;
    z-index: 10020;
    /* left: 3px; */
    border-radius: 3px;
    background: #fff;
    top: 35px;
    overflow-y: auto;
}

.oneUser{
    height: 50px;
    width: 98%;
     margin: 1px auto; 
     border-radius: 3px; 
    position: relative;
    background: #eaeaea;
}

.oneUser:hover{
    background: #85cee4;
    color: #fff;
}

.oneUser .oneUserFace{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 4px;
    margin-right: 11px;
}

.oneUser .oneUserStatus{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    top: 30px;
    left: 30px;
}

.oneUser .oneUserName{
    display: inline-block;
    position: absolute;
    font-weight: bold;
    top: 4px;
}

.oneUser .oneUserIntro{
    display: inline-block;
    position: absolute;
    bottom: 1px;
    font-size: 0.5em;
    bottom: 4px;
}

.oneUser .fa-plus{
    position: absolute;
    top: 14px;
    right: 21px;
    display: inline-block;
    width: 25px;
    height: 25px;
    /* padding: 2px; */
    text-align: center;
    line-height: 25px;
}

.oneUser .fa-plus:hover{
    background: #219ec5;
    border-radius: 3px;
}

.addToGroup{
    width: 134px; 
    height: auto;
    /* border: 1px solid red; */
    position: absolute;
    z-index: 50;
    right: 1px;
    top: 41px;
    display: none;
    background: #219ec5;
    color: #fff;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    padding: 5px 10px;
    text-align: left;
}

.addToGroup span{
    display: block;
    border: 1px solid #219ec5;
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #353030;
    font-size: 0.8em;
}

.addToGroup span:hover{
    background: #353030;
    color: #fff;
}

.hideUser{
    display: none;
}

.faceStore{
    display: none;
    position: absolute;
    width: 342px;
    height: 172px;
    display: none;
    z-index: 73;
    left: 102px;
    background: #219ec5;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.faceStore img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin-left: 11px;
    margin-top: 10px;
}

.faceStore img:hover{
    border: 2px solid #353030;
}



