<div class="chatHome">
    <div class="introDiv">
        <input type="text" class="intro button" v-model="intro" v-on:blur="setIntro">
        <div class="introFoot"></div>
    </div>
    <div class="head">
        <img class="face" v-bind:src="face" />
        <span class="name">{{ name }}</span>
        <div class="status">
            <div class="statusValue button">
                <img v-bind:src="status">
            </div>
            <ul class="statusSelect button">
                <li><img src="/images/online.png"><span>在线</span></li>
                <li><img src="/images/offline.jpg"><span>离线</span></li>
                <li><img src="/images/busy.jpg"><span>忙碌</span></li>
            </ul>
        </div>
        <div class="email">
            <input type="text" class="button" v-model="email" v-on:blur="setEmail" placeholder="Email地址">
        </div>
    </div>
    <div class="items">
        <i class="fa fa-user contact selected button" aria-hidden="true"></i>
        <i class="fa fa-commenting button" aria-hidden="true"></i>
    </div>
    <div class="searchDiv">
        <input type="text" class="search button" placeholder="查找联系人" v-model="filterName">
        <i class="fa fa-search searchButton" aria-hidden="true"></i>
        <div style="display:none" class="searchContainer">
            <template v-for="user in allUsers | filterBy filterName in 'name' | orderBy 'name'">
                <div class="oneUser">
                    <img v-bind:src="user.face" width="20" height="20" class="oneUserFace">
                    <img v-bind:src="user.status" width="20" height="20" class="oneUserStatus">
                    <span class="oneUserName">{{ user.name }}</span>
                    <span class="oneUserIntro">{{ user.intro }}</span>
                    <i class="fa fa-plus" aria-hidden="true" v-on:click="showGroups"></i>
                    <div class="addToGroup">
                        <span v-for="group in groups" v-on:click="addToGroup">{{ group.name }}</span>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <div class="groups">
        <template v-for="(index, group) in groups">
            <div class="group button" v-on:click="extendGroup"><span class="groupFoot"></span>{{ group.name }}</div>
            <template v-for="user in group.users | orderBy 'name'" >
                <div style="display:none;" v-bind:class="group.name" class="user">
                    <img v-bind:src="user.face" class="userFace"/>
                    <img v-bind:src="user.status" class="userStatus">
                    <span class="userName">{{ user.name }}</span>
                    <span class="userIntro">{{ user.intro }}</span>
                    <i class="fa fa-comments button" aria-hidden="true" tipy="发送消息"></i>
                    </div>
            </template>
        </template>
    </div>
</div>