.module .chatRoom{
    height: 100%;
}

.chatNavbar{
    height: 100%;
    width: 60px;
    background: #219ec5;
    float: left;
}

#chatRoom ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #85cee4;
}

.chatRecord{
    width: 100%;
    height: 100%;
    background: #85cee4;
    padding-left: 60px;
}

.chatHeader{
    border-bottom: 1px solid #76b3c5;
    height: 10%;
    width: 100%;
}

.chatContent{
    height: 60%;
    width: 100%;
    overflow-y: auto;
}

.chatContent div{
    /*display: none;*/
}

.chatFoot{
    border-top: 1px solid #76b3c5;
    height: 30%;
    width: 100%;
}

.chatting{
    height: 54px;
    width: 54px;
    position: relative;
    border-radius: 3px;
    margin: 2px auto;
}

.chatting:hover{
    background: #fff;
}

.chatting.current{
    background: #fff;
}

.chattingFace{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    top: 3px;
    left: 4px;
}

.chattingStatus{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 32px;
    right: 2px;
    border-radius: 10px;
}

.currentName{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 3px 10px;
    width: 200px;
    height: 62%;
}

.currentName:hover{
    text-decoration: underline;
}

.currentIntro{
    display: block;
    font-size: 0.5em;
    padding-left: 10px;
}

.chattingName{
    display: none;
}

.removeChatting{
    position: absolute;
    top: 0px;
    left: 1px;
    font-size: 1em;
    display: inline;
    z-index: 60;
    opacity: 0.3;
}

.you{
    width: 80%;
    float: right;
    position: relative;
    margin-top: 20px;
    display: block !important;
}

.you .img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    float: right;
    margin-right: 10px;
}

.you .recordP{
    border: 1px solid #05d0ac;
    float: right;
    margin-right: 13px;
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 5px;
    background: #05d0ac;
    color: #fff;
    max-width: 80%;
    font-size: 0.9em;
    /*box-shadow: -2px 2px 6px rgba(0,0,0,0.5);*/
    margin-bottom: 10px;
}

.you .recordFoot{
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 13px solid #05d0ac;
    border-top: 3px solid transparent;
    border-bottom: 9px solid transparent;
    top: 12px;
    right: 60px;
}

.notYou{
    width: 80%;
    float: left;
    position: relative;
    margin-top: 20px;
    display: block !important;
}

.notYou .img{
    height: 100%;
    width: 50px;
    border-radius: 25px;
    float: left;
    margin-left: 10px;
}

.notYou .recordP{
    border: 1px solid #fff;
    float: left;
    margin-left: 13px;
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    max-width: 80%;
    font-size: 0.9em;
    /*box-shadow: 2px 2px 6px rgba(0,0,0,0.5);*/
    margin-bottom: 10px;
}

.notYou .recordFoot{
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-right: 13px solid #fff;
    border-top: 3px solid transparent;
    border-bottom: 9px solid transparent;
    top: 12px;
    left: 60px;
}

.chatFoot .tools{
    width: 100%;
    height: 18%;
    padding-left: 5px;
}

.chatFoot .editContent{
    width: 100%;
    padding-left: 5px;
    outline: none;
    height: 61%;
    border: none;
    resize: none;
    font-size: 0.9em;
    overflow-y: auto;
}

.oprate{
    height: 18%;
    padding: 0;
    margin: 0;
}

.oprate button{
    float: right;
    margin-right: 4px;
    height: 29px;
    width: 67px;
    line-height: 16px;
    background: #219ec5;
    color: #fff;
    outline: none;
    border: none;
}

.oprate button:hover{
    background: #85cee4;
    color: #fff;
}

.notYou .time{
    position: absolute;
    top: -8px;
    left: 78px;
    font-size: 0.5em;
    color: #fff;
}

.you .time{
    position: absolute;
    top: -8px;
    right: 78px;
    font-size: 0.5em;
    color: #fff;
}

.chatRoom .chatFoot i{
    display: inline-block;
    color: #000;
    margin-top: 2px;
    margin-left: 0;
}

.chatRoom .chatFoot i:hover{
    background: #219ec5;
    color: #fff;
}

.chatFoot .fontSettings{
    display: none;
}

.chatFoot .faceChoose{
    display: none;
    position: absolute;
    width: 95%;
    height: 50%;
    top: 22%;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 0px 10px #000;
    left: 15px;
}

.faceChoose img{
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    margin: 2px;
    border-radius: 3px;
}

.faceChoose img:hover{
    border: 1px solid #219ec5;
}

