.module .chatRoom{
    height: 100%;
}

.chatNavbar{
    height: 100%;
    width: 60px;
    background: #219ec5;
    float: left;
}

#chatRoom ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.chatRecord{
    width: 100%;
    height: 100%;
    background: #fff;
    padding-left: 60px;
}

.chatHeader{
    border-bottom: 1px solid #dad4d4;
    height: 10%;
    width: 100%;
}

.chatContent{
    height: 60%;
    width: 100%;
    overflow-y: auto;
}

.chatContent div{
    display: none;
}

.chatFoot{
    border-top: 1px solid #dad4d4;
    height: 30%;
    width: 100%;
}

.chatting{
    height: 54px;
    width: 54px;
    position: relative;
    border-radius: 3px;
    margin: 2px auto;
}

.chatting:hover{
    background: #fff;
}

.chatting.current{
    background: #fff;
}

.chattingFace{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    top: 3px;
    left: 4px;
}

.chattingStatus{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 32px;
    right: 2px;
    border-radius: 10px;
}

.currentName{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 3px 10px;
    width: 200px;
    height: 62%;
}

.currentName:hover{
    text-decoration: underline;
}

.currentIntro{
    display: block;
    font-size: 0.3em;
    padding-left: 10px;
}

.chattingName{
    display: none;
}

.removeChatting{
    position: absolute;
    top: 0px;
    left: 1px;
    font-size: 1em;
    display: inline;
    z-index: 60;
    opacity: 0.3;
}

.you{
    width: 80%;
    float: right;
    position: relative;
    margin-top: 20px;
    display: block !important;
}

.you img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    float: right;
    margin-right: 10px;
}

.you p{
    border: 1px solid #05d0ac;
    float: right;
    margin-right: 13px;
    padding: 5px 10px;
    margin-top: 4px;
    border-radius: 5px;
    background: #05d0ac;
    color: #000;
    max-width: 80%;
    font-size: 0.9em;
}

.you span{
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 13px solid #05d0ac;
    border-top: 3px solid transparent;
    border-bottom: 9px solid transparent;
    top: 8px;
    right: 60px;
}

.notYou{
    width: 80%;
    float: left;
    position: relative;
    margin-top: 20px;
    display: block !important;
}

.notYou img{
    height: 100%;
    width: 50px;
    border-radius: 25px;
    float: left;
    margin-left: 10px;
}

.notYou p{
    border: 1px solid #06aee2;
    float: left;
    margin-left: 13px;
    padding: 5px 10px;
    margin-top: 4px;
    border-radius: 5px;
    background: #06aee2;
    color: #000;
    max-width: 80%;
    font-size: 0.9em;
}

.notYou span{
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-right: 13px solid #06aee2;
    border-top: 3px solid transparent;
    border-bottom: 9px solid transparent;
    top: 8px;
    left: 60px;
}

.chatFoot .tools{
    width: 100%;
    height: 20%;
}

.chatFoot textarea{
    width: 100%;
    padding-left: 5px;
    outline: none;
    height: 57%;
    border: none;
}

.oprate{
    height: 18%;
    padding: 0;
    margin: 0;
}

.oprate button{
    float: right;
    margin-right: 4px;
    height: 29px;
    width: 67px;
    line-height: 16px;
    background: #219ec5;
    color: #000;
    outline: none;
    border: none;
}

.oprate button:hover{
    background: #85cee4;
}

.notYou .time{
    position: absolute;
    top: -14px;
    left: 78px;
    font-size: 0.5em;
}

.you .time{
    position: absolute;
    top: -14px;
    right: 78px;
    font-size: 0.5em;
}