<div class="chatRoom">
    <audio class="msgVoice"></audio>
    <div class="chatNavbar">
        <template v-for="chatting in chattings">
            <div class="chatting button" v-bind:class="{'current': chatting.current}" v-on:click="selectChatting">
                <span class="chattingName">{{ chatting.name }}</span>
                <img v-bind:src="chatting.face" class="chattingFace">
                <img v-bind:src="chatting.status" class="chattingStatus">
                <i class="fa fa-times-circle button removeChatting" aria-hidden="true" v-on:click="removeChatting"></i>
            </div>
        </template>
    </div>
    <div class="chatRecord">
        <div class="chatHeader">
            <span class="currentName">{{ current.name }}</span>
            <span class="currentIntro">{{ current.intro }}</span>
        </div>
        <div class="chatContent">
            <template v-for="record in records.records">
                <div v-bind:class="{'you': record.name === records.you, 'notYou': record.name === records.notYou}">
                    <span class="time">{{ record.time }}</span>
                    <img v-bind:src="record.face">
                    <p>{{ record.content }}</p>
                    <span class="recordFoot"></span>
                </div>
            </template>
        </div>
        <div class="chatFoot">
            <div class="tools">
                
            </div>
            <textarea class="button" v-model="sendContent"></textarea>
            <div class="oprate">
                <button type="button" class="btn btn-default button" v-on:click="sendTo" v-on:keyup.enter="sendTo" v-bind:class="{'disabled': current.status === '/images/offline.jpg'}">发送</button>
                <button type="button" class="btn btn-default button" v-on:click="removeChatting">关闭</button>
            </div>
        </div>
    </div>
</div>